body {
  padding: 0; 
  margin: 0;
  font-family: sans-serif;
}

#myCanvas {
  position: absolute;  
  z-index: 0;
}

#myList {
  position: absolute;
  z-index: 1;
}

.bold {
  font-weight: bold;
}

.bar {
  width:1000px;
  height:26px;
  padding-top:14px;
  padding-left:14px;
  margin:0px;
  font-size: 12px;
}
